<div class="jumbotron">
  <h1 style="color: white; text-align:center">YoYoCoyote</h1>

</div>

<div class="container">
  
  <div class="row">
    <div class="col-lg-4">
      <ul>
        {{#each coyotes}}
        <li>
          <p>
            {{this.id}}. {{this.coyoteName}}

            <button data-coyotid="{{this.id}}" class="eatcoyote btn btn-warning">Deactivate</button>
          </p>
        </li>
        {{/each}}
      </ul>
    </div> {{!--end of column 1--}}
    <div class="col-lg-4">
      <h2>Coyotes:</h2>
      <br>
      <form id="addCoyote" class="button-size">
        <textarea type="text" name="coyote"></textarea>
      </form>
      <div class="row">
        <button type="submit" class="btn btn-primary" id="coyoteButton">Report a Coyote Sighting!</button>
      </div>
    </div>
    <div class="col-lg-4">
      <ul>
        {{#each oldCoyotes}}
        <li>
          <p>
            {{this.id}}. {{this.coyoteName}}

            <button data-coyotid="{{this.id}}" class="delcoyote btn btn-danger">X</button>
          </p>
        </li>
        {{/each}}
      </ul>
    <div id="map" style="height: 100%"></div>

    </div>
  </div> {{!--end of row--}}
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
</div> {{!-- end of container --}}
<script>

</script>
<script type="text/javascript">

    var long, lat;
navigator.geolocation.getCurrentPosition((pos)=>{
long = pos.coords.longitude;
lat = pos.coords.latitude;

async function initMap() {
    // The location of Uluru
    const position = { lat: lat, lng: long };
    // Request needed libraries.
    //@ts-ignore
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    // The map, centered at Uluru
    map = new Map(document.getElementById("map"), {
      zoom: 12,
      center: position,
      mapId: "DEMO_MAP_ID",
    });

    // The marker, positioned at Uluru
    const marker = new AdvancedMarkerElement({
      map: map,
      position: position,
      title: "Uluru",
    });
  }

  initMap();

  //eat coyotes
  $(".eatcoyote").on("click", function (event) {
    var id = $(this).attr("data-coyoteid")
    console.log(id)
    console.log("eating coyote")
    $.ajax("/coyotes/" + id, {
      type: "PUT"
    }).then(
      function () {
        console.log("Deactivateed ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  // delete coyotes
  $(".delcoyote").on("click", function (event) {
    var id = $(this).attr("data-coyoteid")
    console.log(`deleting ${id}`)
    // Send the DELETE request.
    $.ajax("/coyotes/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  // add coyotes
  $("#coyoteButton").on("click", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();


    var newcoyote = {
      coyoteName: $("textarea[name=coyote]").val().trim(),
      longitude: long,
      latitude: lat,
      active: true
    };

    if (newcoyote != "") {
      // Send the POST request.
      $.ajax("/coyotes", {
        type: "POST",
        data: newcoyote
      }).then(
        function () {
          console.log("added new coyote");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    }
})

  });

   
/*
    $("#updatecoyote").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var id = $("[name=id]").val().trim();
  
      var updatedcoyote = {
        coyote: $("#updatecoyote [name=coyote]").val().trim()
      };
  
      // Send the PUT request.
      $.ajax("/coyotes/" + id, {
        type: "PUT",
        data: updatedcoyote
      }).then(
        function() {
          console.log("updated id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
    */
</script>

<script>

 
</script>